@import url('https://static.parastorage.com/unpkg/@wix/wix-fonts@1.9.3/madefor.css');

:root {
  /* ---- FONTS ---- */
  --madefor: "Madefor";
  --weight-400: var(--wix-font-weight-regular, 400);
  --weight-700: var(--wix-font-weight-bold);
  /* ---- COLORS ---- */
  /* General */
  --D10: #162D3D;
  --D20: #32536A;
  --D30: #577083;
  --D40: #7A92A5;
  --D50: #B6C1CD;
  --D55: #CBD3DC;
  --D60: #DFE5EB;
  --D70: #F0F4F7;
  --D80: #fff;
  /* Primary */
  --B00: #2B81CB;
  --B05: #308DDD;
  --B10: #3899EC;
  --B20: #4EB7F5;
  --B30: #C1E4FE;
  --B40: #DAEFFE;
  --B50: #EAF7FF;
  /* Premium */
  --P00: #8E21B1;
  --P10: #AA4DC8;
  --P20: #CD68ED;
  --P30: #E5C9EE;
  --P40: #EEDBF4;
  --P50: #FAEEFF;
  /* Destructive (red) */
  --R00: #D6453D;
  --R05: #D8504C;
  --R10: #EE5951;
  --R20: #f66;
  --R30: #FFD7D7;
  --R40: #FFE1E1;
  --R50: #FFEBEB;
  /* Green */
  --G10: #60bc57;
  --G20: #80C979;
  --G30: #C9EEBC;
  --G40: #DEF4D4;
  --G50: #EDF9E5;
  /* Yellow */
  --Y10: #FDB10C;
  --Y20: #FAC249;
  --Y30: #FEF0BA;
  --Y40: #FEF4CD;
  --Y50: #FDF7DF;
  /* Filter */
  --blue-icon: invert(49%) sepia(83%) saturate(983%) hue-rotate(183deg) brightness(95%) contrast(95%);
  --white-icon: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  --border-color: var(--D80);
}

body {
  margin: 0;
  background: #E8E8E8;
}

main {
  background: #E8E8E8;
  /* height: 100vh; */
  padding: 10px 70px 50px 70px;
  margin: auto;
  display: table;
  width: 100vw;
  max-width: 1600px;
  box-sizing: border-box;
}

.search-header {
  padding: 16px 0 20px;
  margin-bottom: 20px;
  background: #e8e8e8;
  position: sticky;
  top: 62px;
  z-index: 10;
  width: 100%;
  left: 0;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0px -1px 9px 0px #d8d8d8b5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background: #e3e3e3;
  display: flex;
  align-items: center;
  padding: 16px 70px 16px;
  position: sticky;
  top: 0;
  z-index: 1000000;
}

.header button {
  margin-right: 4px;
  border: unset;
  padding: 6px 14px;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
  color: #202020;
  position: relative;
}

.header button.selected {
  color: #000;
  box-shadow: 0 0 0 1px #c3c2c2;
}

.header button:not(.selected):hover {
  background: #e9e9e9;
}

.main-search-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #787878;
  width: 20%;
  margin: auto auto;
}

.main-search-container.search-has-focus {
  border-bottom: 1px solid #202020;
}

.main-search-container.search-has-focus img {
  opacity: 1;
}

.main-search-container img {
  opacity: 0.7;
}

#main-search {
  background: transparent;
  outline: 0;
  border: 0;
  font-size: 14px;
  padding: 5px 0 5px 12px;
}

.search-empty {
  color: #777777;
  margin: auto;
  text-align: center;
}

.search-empty label {
  font-weight: 600;
  display: block;
}

.hide {
  display: none;
}

.component-item {
  padding-bottom: 20px;
}

.component-item>span:first-child {
  font-size: 15px;
  margin: 10px 0;
  display: block;
  color: #00182d;
  font-weight: 500;
}

.component-label {
  font-size: 16px;
  margin: 20px 0 10px;
  display: block;
}

* {
  font-family: var(--madefor);
}

table {
  color: #333;
  background: #efefef;
  border: 1px solid grey;
  border-collapse: collapse;
  display: table;
  width: 100%;
  box-shadow: 1px 2px 6px 0px #e2e2e2;
}

table th,
table th {
  color: #3e3e3e;
  background: #e3e3e3;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 8px 16px !important;
}

table caption {
  padding: .5em;
}

table th,
table td {
  padding: 6px;
  border: 1px solid #cfcfcf;
}

/* table td {
  height: 80px;
} */
td:not(:last-child) {
  /* text-align: center; */
  padding: 15px;
}

.td-attributes {
  width: 250px;
}

.code-element, .js-code-element {
  width: 1000px;
}

.td-label {
  text-align: left;
  font-size: 12px;
  color: #777777;
  display: block;
  margin-bottom: 8px;
}

xmp {
  white-space: pre-line;
  padding: 10px 20px;
  font-family: "Monaco";
  font-size: 13px;
  color: #4f4f4f;
  cursor: pointer;
  position: relative;
  max-height: 250px;
  overflow: scroll;
  margin: 0;
}

xmp:active {
  filter: brightness(0.7);
}

xmp.copied:after {
  content: "copied";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #00182d;
  color: #f8f8f8;
  padding: 3px 12px 5px;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: var(--madefor);
}

.attribute-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attribute-container>span {
  margin-right: 14px;
  font-size: 14px;
}

.attribute-dropdown {
  position: relative;
  width: 150px;
  /* border: 1px solid #a1a1a1; */
}

.attribute-container:not(:last-child) {
  margin-bottom: 10px;
}

.attribute-dropdown .attribute-dropdown-input {
  width: 150px;
  background-color: #f8f8f8;
  /* border-radius: 6px; */
  min-height: 30px;
  font-size: 14px;
  align-items: center;
  display: flex;
  padding: 5px 12px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: #000;
  line-height: 1.6;
  border: 0;
  cursor: pointer;
  margin: 0;
}

.attribute-dropdown .attribute-dropdown-input:hover {
  background: #fff;
}

.attribute-dropdown .attribute-dropdown-input:focus {
  border: 0;
  outline: 0;
  background: #fff;
  /* outline: 1px solid #000000; */
}

.attribute-dropdown::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 1px;
  right: 14px;
  top: 14px;
  transform: rotate(45deg) translateY(-50%);
}

.attribute-dropdown-content {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 4px 9px 0 rgb(73 73 73 / 12%);
  font-size: 14px;
  line-height: 18px;
  color: #3e3e3e;
  background: #fff;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  display: block;
  z-index: 10;
  max-height: 252px;
  overflow: scroll;
  visibility: hidden;
  margin-top: 1px;
  outline: 1px solid #e9e9e9;
}

.attribute-dropdown-content .attribute-dropdown-item {
  -webkit-font-smoothing: antialiased;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.attribute-dropdown-content .attribute-dropdown-item:not(.selected):hover {
  background: #fafafa;
}

.attribute-dropdown-content .attribute-dropdown-item.selected {
  background: #f6f6f6;
  color: #3e3e3e;
  font-weight: 600;
}

.attribute-dropdown.open-dropdown .attribute-dropdown-content {
  visibility: visible;
}
