@import url('https://static.parastorage.com/unpkg/@wix/wix-fonts@1.9.3/madefor.css');

:root {
/* ---- FONTS ---- */
  --font-madefor: "Madefor", 'Helvetica Neue', Helvetica, Arial, 'Ã£Æ’Â¡Ã£â€šÂ¤Ã£Æ’ÂªÃ£â€šÂª', 'meiryo', 'Ã£Æ’â€™Ã£Æ’Â©Ã£â€šÂ®Ã£Æ’Å½Ã¨Â§â€™Ã£â€šÂ´ pro w3', 'hiragino kaku gothic pro', sans-serif;
  --madefor-regular: 400;
  --madefor-bold: 700;
  --madefor-xbold: 800;

  --madefor: "Madefor";
--weight-400: var(--wix-font-weight-regular, 400);
--weight-700: var(--wix-font-weight-bold);

/* ---- COLORS ---- */
  /* Primary */
  --B0: #0f62e6;
  --B1: #116dff;
  --B2: #418aff;
  --B3: #7cafff;
  --B4: #c3daff;
  --B5: #dce9ff;
  --B6: #f6faff;

  /* Premium */
  --P0: #4d3dd0;
  --P1: #5a48f5;
  --P2: #7b6df7;
  --P3: #a59bfa;
  --P4: #d6d1fc;
  --P5: #e7e4fe;
  --P6: #eeecfe;

  /* Stage */
  --E1: #ff60f9;
  --E2: #47cb2e;
  --E3: #e4f7e0;
  --E4: #18d9c2;
  --N1: #ff5c9f;
  --SG: #f9f9f9;

  /* Disabled */
  --X1: #767676;
  --X2: #bebebe;
  --X3: #dfdede;
  --X4: #f3f3f3;

  /* General */
  --D1: #000624;
  --D2: #333850;
  --D3: #595d70;
  --D4: #868aa5;
  --D5: #cfd1dc;
  --D6: #f4f5f8;
  --D7: #ffffff;
  
  /* Alert */
  --R0: #ca3a2f;
  --R1: #ee4437;
  --R2: #f1695f;
  --R3: #f69891;
  --R4: #fbd0cd;
  --R5: #fde3e1;
  --R6: #fdeceb;
  
  /* Success */
  --G0: #1f8c4d;
  --G1: #25a55a;
  --G2: #51b77b;
  --G3: #87cea5;
  --G4: #c8e8d6;
  --G5: #e1f4eb;
  --G6: #e9f6ee;

  /* Warning */
  --Y0: #d49341;
  --Y1: #faad4d;
  --Y2: #fabd71;
  --Y3: #fcd29d;
  --Y4: #fdead2;
  --Y5: #fef3e5;
  --Y6: #fef6ed;
  
  /* Urgent */
  --O0: #d4522b;
  --O1: #f96132;
  --O2: #fa815b;
  --O3: #fca88f;
  --O4: #fdd7cc;
  --O5: #fee8e1;
  --O6: #feefea; 
  
  /* Filter */
  --white-icon: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  --blue-icon: invert(65%) sepia(81%) saturate(7460%) hue-rotate(210deg) brightness(100%) contrast(110%);
  --purple-icon: invert(27%) sepia(96%) saturate(3985%) hue-rotate(241deg) brightness(98%) contrast(96%);
  --black-icon: invert(3%) sepia(73%) saturate(6557%) hue-rotate(227deg) brightness(62%) contrast(105%);
  --grey-icon: invert(82%) sepia(48%) saturate(0%) hue-rotate(178deg) brightness(80%) contrast(113%);
  --blue-hover-icon: invert(24%) sepia(88%) saturate(5462%) hue-rotate(214deg) brightness(100%) contrast(88%);
  --purple-hover-icon: invert(25%) sepia(67%) saturate(2886%) hue-rotate(238deg) brightness(82%) contrast(99%);
  --dark-blue-icon: invert(65%) sepia(8%) saturate(913%) hue-rotate(195deg) brightness(84%) contrast(87%);
}

/* ---------------------- Buttons ---------------------- */

.pcu-button {
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    display: flex;
    border: 1px solid var(--border-color);
    font-size: var(--text-size);
    line-height: var(--line-height);
    font-weight: var(--madefor-bold);
    outline: 0;
    border-radius: 4px;
    padding: var(--button-padding);
    background-color: var(--button-bg-color);
    color: var(--text-color);
    text-decoration: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

[priority="primary"] {
    --button-bg-color: var(--B1);
    --border-color: transparent;
    --text-color: var(--D7);
    --affix-icon-filter: var(--white-icon);
}

[skin="standard"][priority="secondary"], [skin="premium"][priority="secondary"],[skin="alert"][priority="secondary"], [skin="light"],[skin="light dark"]{
  --button-bg-color: var(--D7);
  --border-color: #E2E3EA;
  --text-color: var(--B1);
  --affix-icon-filter: var(--blue-icon);
}

[skin="standard"][priority="inverted"] {
    --button-bg-color: transparent;
    --border-color: var(--B1);
    --text-color: var(--B1);
    --affix-icon-filter: var(--blue-icon);
}

[skin="standard"][priority="text-button"] {
    --button-bg-color: transparent;
    --border-color: transparent;
    --text-color: var(--B1);
    --affix-icon-filter: var(--blue-icon);
}

[skin="standard"], [priority="inverted"]:hover {
    --button-bg-color: var(--B1);
    --border-color: transparent;
    --text-color: var(--D7);
    --affix-icon-filter: var(--white-icon);
}

[skin="standard"] {
    --button-bg-color: var(--B1);
    --border-color: transparent;
    --text-color: var(--D7);
    --affix-icon-filter: var(--white-icon);
}

[skin="premium"] {
    --button-bg-color: var(--P1);
    --border-color: transparent;
    --text-color: var(--D7);
    --affix-icon-filter: var(--white-icon);
}

[skin="alert"] {
    --button-bg-color: var(--R1);
    --border-color: transparent;
    --text-color: var(--D7);
    --affix-icon-filter: var(--white-icon);
}

.pcu-button[size="small"] {
    --text-size: 12px;
    --button-padding: 4px 12px;
    --line-height: 18px;
}

.pcu-button[size="medium"] {
    --text-size: 14px;
    --button-padding: 6px 16px;
    --line-height: 20px;
}

.pcu-button[size="large"] {
    --text-size: 14px;
    --button-padding: 8px 16px;
    --line-height: 20px;
}

[skin="premium"][priority="secondary"]{
    --text-color: var(--P1);
    --affix-icon-filter: var(--purple-icon);
}

[skin="alert"][priority="secondary"]{
    --text-color: (var(--D1));
    --affix-icon-filter: var(--black-icon);
    --border-color: transparent;
}

[skin="standard"][priority="primary"]:hover{
    --button-bg-color: var(--B0);
}

[skin="standard"][priority="secondary"]:hover{
    --button-bg-color: var(--D6);
    --text-color: var(--B1);
    --border-color: #E2E3EA;
}

[skin="premium"][priority="primary"]:hover{
    --button-bg-color: var(--P0);
}

[skin="premium"][priority="secondary"]:hover, [skin="alert"][priority="secondary"]:hover{
    --button-bg-color: var(--D6);
    --border-color: transparent;
}

[skin="alert"][priority="primary"]:hover{
    --button-bg-color: var(--R0);
}

[priority="text-button"]:hover {
    --text-color:var(--B0);
}

[skin][priority="primary"]:disabled, [skin="standard"][priority="inverted"]:disabled  {
    --button-bg-color: var(--X4) !important;
    --border-color: transparent !important;
    --text-color: var(--X2) !important;
    --affix-icon-filter: var(--grey-icon) !important;
}

[skin="premium"][priority="secondary"]:disabled, [skin="alert"][priority="secondary"]:disabled{
    --button-bg-color: var(--D7) !important;
    --border-color: transparent !important;
    --text-color: var(--X2) !important;
    --affix-icon-filter: var(--grey-icon) !important;
}

[skin="standard"][priority="secondary"]:disabled{
    --button-bg-color: var(--D7) !important;
    --border-color: var(--X2) !important;
    --text-color: var(--X2) !important;
    --affix-icon-filter: var(--grey-icon) !important;
    
}

[skin="standard"][priority="text-button"]:disabled{
    --button-bg-color: transparent !important;
    --border-color: transparent !important;
    --text-color: var(--X2) !important;
    --affix-icon-filter: var(--grey-icon) !important;
    
}

.pcu-button-affix img {
    margin: var(--icon-margin);
    filter: var(--affix-icon-filter);
}

.pcu-button-affix[icon="prefix"][size] {
    --button-padding: 4px 16px 4px 10px;
    --icon-margin: 0px 4px 0px 0px;
}

.pcu-button-affix[icon="prefix"][size="small"] {
    --button-padding: 4px 12px 4px 6px;
    --icon-margin: 0px 4px 0px 0px;
}

.pcu-button-affix[icon="suffix"][size] {
    --button-padding: 4px 10px 4px 16px;
    --icon-margin: 0px 0px 0px 4px;
}

.pcu-button-affix[icon="suffix"][size="small"] {
    --button-padding: 4px 6px 4px 12px;
    --icon-margin: 0px 0px 0px 4px;
}

/* ---------------------- Icon Buttons ---------------------- */
.pcu-button.pcu-icon-button img {
    margin: var(--icon-margin);
    filter: var(--affix-icon-filter);
    height: var(--icon-size);
    width: var(--icon-size);
    padding: var(--button-padding)
  }
  
  .pcu-icon-button[size="large"] {
    --icon-size: 16px;
    --button-padding: 6px;
  }

  .pcu-icon-button[size="medium"] {
    --icon-size: 12px;
    --button-padding: 6px;
  }

  .pcu-icon-button[size="small"] {
    --icon-size: 12px;
    --button-padding: 4px;
  }
  [skin="light"]{
    --border-color: transparent;
  }
  
  [skin="light dark"]{
      --affix-icon-filter: var(--black-icon);

  }

[skin="standard"][priority="primary"]:disabled, [skin="standard"][priority="inverted"]:disabled, [skin="premium"][priority="primary"]:disabled, [skin="light dark"] {
    --button-bg-color: var(--X4) !important;
    --border-color: transparent !important;
}

[skin="light"][priority="primary"]:disabled, [skin="premium"][priority="secondary"]:disabled{
    --button-bg-color: var(--D7) !important;
    --border-color: transparent !important;
}

[skin="standard"][priority="secondary"]:disabled {
    --border-color: var(--X2)  !important;
}

/* ---------------------- Text Button ---------------------- */

.pcu-text-button {
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: var(--text-size);
  line-height: var(--line-height);
  font-weight: var(--madefor-bold);
  outline: 0;
  color: var(--text-color);
  text-decoration: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  border: unset;
}

.pcu-text-button[skin="standard"]{
  --text-color: var(--B1);
  --affix-icon-filter: var(--blue-icon)
}
.pcu-text-button[skin="premium"]{
  --text-color: var(--P1);
  --affix-icon-filter: var(--purple-icon)
}
[skin="dark"], .pcu-text-button[skin="dark"]:hover{
  --text-color:var(--D1);
  --affix-icon-filter: var(--black-icon)
}
[size="tiny"]{
  --text-size: 11px;
  --line-height:16px;

}
.pcu-text-button[size="medium"]{
  --text-size: 14px;
  --line-height:20px;

}
.pcu-text-button[size="small"]{
  --text-size: 12px;
  --line-height:16px;
}
.pcu-text-button[affix="suffix"]::after{
  content: url('/pcu-editor-x/editor-x-icons/Arrows/arrowDown.svg');
  filter: var(--affix-icon-filter);
  margin-left: 4px;
  width: 16px;
  height: 16px;
}
.pcu-text-button[affix="prefix"]::before{
  content: url('/pcu-editor-x/editor-x-icons/Arrows/arrowDown.svg');
  filter: var(--affix-icon-filter);
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
[weight="thin"]{
  font-weight: var(--madefor-regular);
}
[underline="always"]{
  text-decoration: underline;
}
.pcu-text-button[skin="standard"]:hover{
  --text-color:var(--B0);
  --affix-icon-filter: var(--blue-hover-icon)
}
.pcu-text-button[skin="premium"]:hover{
  --text-color:var(--P0);
  --affix-icon-filter: var(--purple-hover-icon)
}
.pcu-text-button:disabled {
  --text-color: var(--X2)  !important;
  --affix-icon-filter: var(--grey-icon) !important;
}
/* ---------------------- Numeric Input ---------------------- */

.pcu-numeric-input-container, .pcu-numeric-input-affix-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  width: max-content;
}

.pcu-numeric-input {
  width: 56px;
  border: 1px solid #E2E3EA;
  background-color: var(--D7);
  border-radius: 4px;
  min-height: 24px;
  font-size: 12px;
  align-items: center;
  display: flex;
  padding: var(--input-padding);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: var(--D1);
  line-height: 16px;
  cursor: pointer;
  height:var(--input-height);
}

.pcu-numeric-input-container[size="large"] .pcu-numeric-input{
  --input-height: 32px;
  --input-padding: 8px 8px 8px 8px;
}

.pcu-numeric-input-container[size="medium"] .pcu-numeric-input{
  --input-height: 28px;
  --input-padding: 6px 8px 6px 8px;
}
.pcu-numeric-input-container[size="small"] .pcu-numeric-input{
  --input-height: 24px;
  --input-padding: 4px 8px 4px 8px;
}

.pcu-numeric-input-affix-container[size="large"] .pcu-numeric-input, .pcu-numeric-input-affix-container[size="large"] .pcu-input-affix
{
  --input-height: 32px;
  --input-padding: 8px 20px 8px 8px;
}

.pcu-numeric-input-affix-container[size="medium"] .pcu-numeric-input, .pcu-numeric-input-affix-container[size="medium"] .pcu-input-affix
{
  --input-height: 28px;
  --input-padding: 6px 20px 6px 8px;
}

.pcu-numeric-input-affix-container[size="small"] .pcu-numeric-input, .pcu-numeric-input-affix-container[size="small"] .pcu-input-affix
{
  --input-height: 24px;
  --input-padding: 4px 20px 4px 8px;
}

.pcu-numeric-input:hover:not(:focus) {
  border: 1px solid var(--D4);
}

.pcu-numeric-input:focus{
    outline: none !important;
    border: 1px solid var(--B1);
    cursor: text;
}

.pcu-input-affix {
  position: relative;
  right: 19px;
  font-size: 11px;
  color: var(--B1);
  -webkit-font-smoothing: antialiased;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
  height: calc(var(--input-height) - 2px)   ;
  border-radius: 0 4px 4px 0;
}

  .pcu-input-affix:hover{
    background-color: var(--D6);
    cursor: pointer;

  }

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.pcu-numeric-input:disabled{
  background-color: var(--X4) !important;
  color: var(--X2) !important;
  border-color: var(--X2) !important;
  cursor:initial !important;
}

.pcu-numeric-input:disabled ~ .pcu-input-affix {
  color: var(--X2) !important;
  background-color: var(--X4) !important;
  cursor:initial !important;

}



/* ---------------------- Search Bar ---------------------- */

.pcu-search-field {
  width: 228px;
  border: 1px solid var(--X3);
  border-radius: 4px;
  height: 30px;
  align-items: center;
  display: flex;
  padding: 8px 28px 8px 12px;
  box-sizing: border-box;
  color: var(--D1);
  background-color: var(--D6);
  position: relative;

}

.topbar-search-input::placeholder{
  font-size: 11px;
  font-weight: 400;
  color: var(--D4);
  -webkit-font-smoothing: antialiased;

}

.pcu-field-has-focus{
  background-color: white;  
}
.pcu-search-field-delete{
  visibility:hidden;
  position: absolute;
  right: 12px;
  width: 20px;
  filter: var(--dark-blue-icon);
}

.pcu-field-has-focus .pcu-search-field-delete{
  visibility: visible;
}

.pcu-search-icon {
  filter: var(--dark-blue-icon);
  margin-right: 8px;
}

.topbar-search-input{
  border: unset;
  background-color: unset;
  outline: none;
  font-size: 11px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/* ---------------------- Tooltips ---------------------- */

[dir="top"]>.pcu-popover {
  --top: unset;
  --bottom: 120%;
  --left: 50%;
  --right: unset;
  --transform: translateX(-50%);
}

[dir="bottom"]>.pcu-popover {
  --top: 150%;
  --bottom: unset;
  --left: 50%;
  --right: unset;
  --transform: translateX(-50%);
}

[dir="left"]>.pcu-popover {
  --top: 35%;
  --bottom: unset;
  --left: unset;
  --right: 120%;
  --transform: translateY(-50%);

}

[dir="right"]>.pcu-popover {
  --top: 35%;
  --bottom: unset;
  --left: 120%;
  --right: unset;
  --transform: translateY(-50%);
}

  .pcu-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .pcu-tooltip .pcu-tooltip-content {
    visibility: hidden;
    background:var(--D7);
    border-radius: 4px;
    box-shadow: 0px 0px 12px rgba(0, 6, 36, 0.2);
    width: max-content;
    max-width: 204px;
    color: var(--D3);
    position: absolute;
    z-index: 1;
    top: var(--top);
    bottom: var(--bottom);
    left: var(--left);
    right: var(--right);
    transform: var(--transform);
    margin-left: -4px;
    margin-bottom: 4px;
    padding: 16px;
    line-height: 16px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    text-align: left;
  }
  
  .pcu-tooltip:hover .pcu-tooltip-content {
    visibility: visible;
  }

/* ---------------------- Avatar ---------------------- */
.pcu-avatar[size="large"] {
    --avatar-size: 36px;
  }
  
  .pcu-avatar[size="normal"] {
    --avatar-size: 24px;
  }
  
  .pcu-avatar {
    height: var(--avatar-size);
    width: var(--avatar-size);
    border-radius: 50%;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--D1);
    overflow: hidden;
    border: 2px solid var(--B1);
    cursor: pointer;
  }
  
  .pcu-avatar img {
    width: var(--avatar-size);
  }

  .pcu-avatar[disabled="true"]{
    opacity: 50% !important;
  }
  

/* ---------------------- Context Menu ---------------------- */

  #pcu-context-menu{
    opacity: 0;
    width: 0;
  }

  .pcu-context-menu-icon{
    width: 18px;
    margin-right: 16px;
    cursor: pointer;
}
.pcu-context-menu-content{
  width: 220px;
    background-color: var(--D7);
    color: var(--D1);
    border-radius: 4px;
    padding: 8px 0px;
    position: absolute;
    top: var(--top);
    bottom: var(--bottom);
    left: var(--left);
    right: var(--right);
    transform: var(--transform);
    box-shadow: 0px 0px 12px rgb(0 6 36 / 20%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    z-index: 500;
    visibility: hidden;
    overflow: hidden;
}

#pcu-context-menu:focus ~ .pcu-context-menu-content{
  visibility: visible;
}

.pcu-context-menu-item{
  font-size: 14px;
  line-height: 24px;
  display: inline-flex;
  padding: 8px 12px;
  cursor: pointer;
  align-items: center;
  width: 100%;
}

.pcu-context-menu-divider{
  height: 1px;
  width: 100%;
  background: var(--X3);
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
}

.pcu-context-menu-item:hover {
  background-color: var(--D6);
}

/* ---------------------- Button Group ---------------------- */

.pcu-button-group{
  position: relative;
  z-index: 5;
  width: max-content;
  border-radius: 4px;
  border: var(--D5) solid 1px;
  background-color: var(--D7);
  color: var(--D1);
  height: 32px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  display: flex;
  font-size: 12px;
  align-items: center;
  margin: 12px 24px;
}

input[type="radio"].pcu-button-group-option {
  display: none;
  height: 32px;
}
  
  .pcu-button-group-labels {
    display: flex;
    justify-content: center;
    height: 32px;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    padding: 5px 6px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px 24px;
    align-items: center;
    width: 106px;
    border-radius: 4px;
}

.pcu-button-group-option:checked+.pcu-button-group-labels {
  border: 1px solid var(--B3);
  color: var(--B1);
  background-color: var(--B5);
}

/* ---------------------- Drop Down ---------------------- */
.pcu-dropdown {
  border-radius: 4px;
  color: var(--D1);
  border: 1px solid var(--D5);
  background-color: var(--D7);
  display: flex;
  position: relative;
  width:212px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.pcu-dropdown::after {
  content: url("../pcu-editor-x/editor-x-icons/Arrows/chevronDown.svg");
  position: absolute;
  right: 14px;
  width: 12px;
  filter: var(--dark-blue-icon);
  cursor: pointer;
  top: 25%;
}

.pcu-dropdown-input {
  border: 0;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
.pcu-dropdown-item {
  display: flex;
  align-items: center;
  padding-left: 18px;
  padding-right: 24px;
  min-height: 36px;
}
.pcu-dropdown-item.selected {
  color: var(--B1);
  background-color: var(--B5);
}

.pcu-dropdown-item:not(.selected):hover {
  background: var(--D6);
}

.pcu-dropdown-content {
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: var(--pcu-shadow30, 0 6px 6px 0 rgba(22, 45, 61, 0.06), 0 0 18px 0 rgba(22, 45, 61, 0.12));
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  line-height: 18px;
  color: var(--D1);
  background: var(--D80);
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  display: block;
  z-index: 10;
  max-height: 252px;
  overflow: scroll;
  visibility: hidden;
  margin-top: 1px;
  bottom: 34px;
  left: 0;
}

.pcu-dropdown.pcu-field-has-focus .pcu-dropdown-content {
  visibility: visible;
}

input:focus{
  outline: none;
}

/* ---------------------- Docking Panel ---------------------- */

.pcu-docking-panel-outer {
  display: flex;
  height: 100px;
  width: 104px;
}
.pcu-docking-panel-outer .pcu-docking-panel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  height: 100px;
  width: 104px;
  border-radius: 6px;
  border: solid 1px #e2e3ea;
  background-color: #f8faff;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.top {
  position: absolute;
  transition: width 0.3s ease, height 0.3s ease;
  justify-content: center;
  height: 18px;
  bottom: 61px;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.left {
  position: absolute;
  transition: width 0.3s ease, height 0.3s ease;
  align-items: center;
  width: 18px;
  height: 8px;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.right {
  position: absolute;
  transition: width 0.3s ease, height 0.3s ease;
  align-items: center;
  width: 18px;
  height: 8px;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.bottom {
  position: absolute;
  transition: width 0.3s ease, height 0.3s ease;
  justify-content: center;
  height: 18px;
  top: 61px;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction .pcu-docking-line {
  visibility: hidden;
  position: absolute;
  border: none;
  pointer-events: none;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.top .pcu-docking-line,
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.bottom .pcu-docking-line {
  border-right: 1px dashed #116dff;
  height: 100%;
}
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.right .pcu-docking-line,
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.left .pcu-docking-line{
  border-top: 1px dashed #116dff;
  width: 100%;
}
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.top .pcu-docking-point {
  top: -6px;
  left: -4px;
}
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.bottom .pcu-docking-point {
  bottom: -6px;
  left: -5px;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.right .pcu-docking-point{
  right: -6px;
  bottom: 0;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.left .pcu-docking-point {
  left: -6px;
  bottom: 0;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-element .pcu-docking-point, 
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction .pcu-docking-point {
  width: 8px;
  height: 8px;
  background-color: #c3daff;
  border: 1px solid #116dff;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-rail {
  display: flex;
  position: relative;
  height: 8px;
  width: 100%;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-rail.left {
  flex-direction: row-reverse;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction {
  display: flex;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-element {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;
}

.pcu-docking-plane-button-outer .pcu-docking-plane-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 5px #e2e3ea;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: top 0.2s ease, bottom 0.2s ease, left 0.2s ease, right 0.2s ease;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-element .pcu-docking-point {
  position: relative;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-element.direction-docked .pcu-docking-line, 
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.direction-docked .pcu-docking-line {
  visibility: visible;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.top.direction-docked,
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.bottom.direction-docked {
  height: 37px;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.top.direction-docked,
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.left.direction-docked,
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.bottom.direction-docked,
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.right.direction-docked  {
  transition: width 0.3s ease, height 0.3s ease;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.left.direction-docked,
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.right.direction-docked  {
  width: 100%;
}

.pcu-docking-plane-button-outer:not(.is-disabled) .pcu-docking-plane-button:hover {
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
}
.pcu-docking-plane-button-outer:not(.is-disabled) .pcu-docking-plane-button:hover .pcu-docking-point {
  background-color: #7cafff;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-element .pcu-docking-point:hover, 
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction .pcu-docking-point:hover {
  background-color: #7cafff;
}

.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-element.direction-docked .pcu-docking-point, 
.pcu-docking-panel-outer .pcu-docking-panel-inner .pcu-docking-direction.direction-docked .pcu-docking-point {
  opacity: 1;
  background-color: #116dff;
}

/* ---------------------- Checkbox ---------------------- */
.pcu-checkbox-container {
  display: flex;
  align-items: center;
  width: max-content;
}

input[type=checkbox].pcu-checkbox-input {
  position: relative;
  cursor: pointer;
  margin-top: 2px;
  border: solid 1px var(--D4);
  background-color: var(--D7);
  width: 16px;
  height: 16px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
input[type=checkbox].pcu-checkbox-input:checked{
  background-color: var(--B1);
  border: solid 1px var(--B1);
}
input[type=checkbox].pcu-checkbox-input:hover:checked{
  background-color: var(--B2);
  border: solid 1px var(--B2);
}
input[type=checkbox].pcu-checkbox-input:checked:after {
  content: url('../pcu-editor-x/editor-x-icons/Checkbox/V.svg');
  display: block;
  position: absolute;
  bottom: 1px;
  left: 4px;
}

input[type=checkbox].pcu-checkbox-input:hover:not(:checked) {
  background-color: var(--D6);
}

input[type=checkbox].pcu-checkbox-input:disabled {
  border-color: var(--X2) !important;
  background-color: var(--X4) !important;
  cursor: default !important;

}

.pcu-checkbox-container .pcu-checkbox-label {
  color: var(--D1);
  margin-left: 12px;
  line-height: 16px;
  font-size: 12px;
  cursor: pointer;
}
input[type=checkbox].pcu-checkbox-input:disabled:checked {
  border-color: var(--X1) !important;
  background-color: var(--X1) !important;
  cursor: default !important;
}

/* ---------------------- Radio Buttons ---------------------- */
.pcu-radio-btn-container {
  width: max-content;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px;
  margin-bottom: 6px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=radio].pcu-radio-btn-input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  left: -1px;
  z-index: 1;
}

.pcu-radio-btn-circle {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: var(--D7);
  border-radius: 50%;
  border: 1px solid var(--D4);
}

input[type=radio].pcu-radio-btn-input:hover:not(:checked)+.pcu-radio-btn-circle {
  background-color: var(--D6);
}

input[type=radio].pcu-radio-btn-input:checked+.pcu-radio-btn-circle {
  background-color: var(--B1);
  border: 1px solid var(--B1);
}

input[type=radio].pcu-radio-btn-input:checked+.pcu-radio-btn-circle:after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--D7);
  position: absolute;
  top: calc(50% - 4px/2);
  left: calc(50% - 4px/2);
}
input[type=radio].pcu-radio-btn-input:disabled+.pcu-radio-btn-circle {
  border-color: var(--X2) !important;
  background-color: var(--X4) !important;
}
input[type=radio].pcu-radio-btn-input:checked:disabled+.pcu-radio-btn-circle {
  border-color: var(--X2) !important;
  background-color: var(--X2) !important;
}


.pcu-radio-btn-label {
  color: var(--D1);
  font-size: 12px;
  line-height: 16px;
}

/* ---------------------- Radio Buttons - 2 Rows Label ---------------------- */
.pcu-radio-btn-container.pcu-radio-btn-2-rows {
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}


/* .pcu-radio-btn-container .pcu-radio-btn-2-rows-input {
  position: relative;
  margin-left: -24px;
  width: 35px;
  height: 35px;
} */

.pcu-radio-btn-container .pcu-radio-btn-2-rows-input * {
  top: 12px;
}

.pcu-radio-btn-2-rows-content .pcu-radio-btn-main-label {
  font-size: 16px;
  font-weight: 500;
  display: block;
  color: var(--D10);
  text-align: left;
}

.pcu-radio-btn-2-rows-content .pcu-radio-btn-sub-label {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: var(--D20);
  text-align: left;
}